<nz-layout class="layout" >
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <nz-input-group [nzSuffix]="suffixIconSearch" style="width: 373px !important">
        <input type="text" style="width: 330px !important"  nz-input placeholder="input search text" [(ngModel)]="searchName" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <button (click)="search()" nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
      </ng-template>
      <li nz-menu-item nzSelected >首页</li>
      <li nz-menu-item  *ngIf="isLogin" >我的学习</li>
      <li nz-menu-item *ngIf="!isLogin" >登陆</li>
      <li nz-menu-item *ngIf="!isLogin" >注册</li>
      <li nz-menu-item *ngIf="isLogin" >zimo</li>
      <button nz-button nz-popover *ngIf="isLogin" nzShape="circle" [nzPopoverTitle]="titleTemplate" [nzPopoverContent]="contentTemplate">
<!--        <img nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png" style="height: 32px; width: 32px">-->
      </button>
      <ng-template #titleTemplate>
        <div>
          <li nz-menu-item >我的订单</li>
        </div>
      </ng-template>
      <ng-template #contentTemplate>
        <div>
          <li nz-menu-item (click)="updateLogin()">退出</li>

        </div>
      </ng-template>
    </ul>
  </nz-header>
  <nz-content>
    <div>
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer>zimo</nz-footer>
</nz-layout>
